body {
  background-color: #96ABBC;
}
h1 {
  color: #000000;
}
path {
  stroke: black;
}

input {
  margin: 5px;
}

#legend {
   height: 200px;
   width: 200px;
   border: 1px solid #000000;
   background: #FFFFFF;
   opacity: .75;
   top: 300px;
  float: left;
}

#legend>p {
   padding: 5px;
   text-align: center;
   margin: 0px;
   font-weight: bold;
   }

#legend>svg {
  font-size: 12px;
}

p.desc {
  width: 800px;
  padding: 10px;
  border: 1px solid #000000;
  background: #CFCFCF;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 34px;					
    padding: 2px;				
    font-size: 10px;
    background: #CFCFCF;	
    border: 0px;				
    pointer-events: none;			
}

.filter {
  float: right;
  width: 200px;
  border: 1px solid #000000;
  background: #FFFFFF;
  opacity: .75;
  padding: 10px;
  margin: 20px;
}

div.nav {
  text-align: center;
  margin: 30px;
}

.chart-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
