body {
  background-color: #96ABBC;
}
h1 {
  color: #000000;
}
path {
  stroke: black;
}
#legend {
   height: 200px;
   width: 200px;
   border: 1px solid #000000;
   background: #FFFFFF;
   opacity: .75;
   top: 300px;
}

#legend>p {
   padding: 5px;
   text-align: center;
   margin: 0px;
   font-weight: bold;
   }

body>p {
  width: 400px;
  padding: 10px;
  border: 1px solid #000000;
  background: #CFCFCF;
}
